.side-main{
    width: 30%;
    background-color: #F5F5F5;
}

.side-logo{
    font-size: 20px;
    text-align: right;
    font-family: 'Archivo Black', sans-serif;
    flex-wrap: nowrap;
    background-color: #E6E4D7;
}
button{
    background-color: none;
    border: none;
    background-color: #E6E4D7;
}
.slide-right {
    position: relative;

	
	        animation: slide-right 0.5s linear;
}

@keyframes slide-right {
    0% {
      left: 0px;
    }
    50% {
    left: 5px;
    }
    100% {
        left: 0px;
    }
  }
  
@media screen and (max-width:700px) {
    .side-main{ width: 100%;  }}



